
.rectangle {
    display: flex;
    background-color: goldenrod;
    border-radius: 0.5vw;
    border: 0.2vw solid #2E3363;
    width: fit-content;
    gap: 2vw;
    align-items: center;
    padding: 1vw 2vw
}
