
.textButton:hover {}

.textButton:active {}

.textButton:disabled {}

.textButton-dash {
    font-size: 1.2vw;
    font-weight: bold;
    font-family: roman, serif;
    text-align: center;
    text-transform: uppercase;
}

.textButton-dash:hover {
    color: #2E3363;
}