.dash-content {
    justify-content: center;
    align-items: center;
    height: auto;
    text-wrap: wrap;
}

.rectangle.text {
    display: flex;
    align-items: stretch;
    padding: 0;
    text-align: left;
    gap: 1rem;
}

.rectangle.text ul {
    text-align: left;
    padding-left: 2rem;
    margin: 1rem 0 0 0;
    list-style-position: outside;
}

.rectangle.text li {
    margin-bottom: 0.5rem;
}

.textcontent-img {
    flex: 0 0 30%;
    max-width: 300px;
    display: flex;
}

.textcontent-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.textcontent-body {
    flex: 1;
    padding: 2rem;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    font-size: 1vw;
}

.textcontent-body ul {
    list-style-type: disc;
    padding-left: 2rem;
    margin: 1rem 0 0 0;
    text-align: left;
}

.textcontent-body li {
    margin-bottom: 0.5rem;
}

