
:root {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
  background-color: #ffffff;
  color: black;
  font-size: 1vw;
  }

body {
  margin: 0;
}

.img-fluid {
  width: 20vw;   /* takes up 20% of the viewport width */
  height: auto;  /* keeps aspect ratio */
}