
:root {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
  background-color: #ffffff;
  color: black;
  font-size: 1vw;
  }

body {
  margin: 0;
}

.img-fluid {
  width: 20vw;
  height: auto;
}

.rectangle {
  display: inline-flex;
  background-color: #F5AD1C;
  border-radius: 0.5vw;
  border: 0.2vw solid #2E3363;
  width: fit-content;
  gap: 2vw;
  align-items: center;
  padding: 1vw 2vw
}

.text {
  font-size: 1vw;
  text-align: center;
  color: white;
}